body {
	background: #242629;
}

.container {
	color: #fffffe;
}

.card-title {
	color: #fffffe;
}

h2 {
	color: #fffffe;
}

.more {
	text-align: center;
	padding-top: 30px;

}
.btn:not(:disabled):not(.disabled) {
	background-color: #6442cc !important;
	color: black !important;
}
.btn-success:hover {
	background-color: #6442cc !important;
	border-color: black !important;  
}

.btn-success {
	background-color: #7f5af0 !important;
	color: black !important;
}

summary {
	--font-family-monospace

}

details {
	outline: 0;
    outline-offset: 0;
}

:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}

#header{

}

.img-fluid {
  display:block;
  margin:auto;
  padding-top: 100px;
}

#header img{

}
#main-nav{
    background-color: #7f5af0;
	color: #fffffe;
    background: linear-gradient(to bottom, #7f5af0, #854dc5);
}
#header .container{
    margin-top: 0;
}
#carousel-part{
    padding-top: 80px;
}
.container{
    margin-top: 50px;
}
.green-button-3{
    border-radius: 42px;
    background-color: #6246ea;
}
.green-button{
    border-radius: 42px;
    width: 150px;
    margin-bottom: 25px;
    background-color: #6246ea;
}

.get-text {
    background-color: #fffffe;
}

.green-button2{
    border-radius: 42px;
    background-color: #6246ea;
    width: 150px;
    border-color: #7f5af0;
}

.green-button2 a{
    color: black !important;
}
.carousel-item{
    padding: 30px 60px;
}
.carousel-control-prev{
    margin-left: -115px;
    
}
.carousel-control-prev-icon{
    margin-left: 130px;
}
.carousel-control-next{
    margin-right: -115px;
}
.carousel-control-next-icon{
    margin-right: 130px;;
}
.carousel-indicators li{
    background-color: #21B573;
}
#book-section-width{
  

}
.card{
    border: none;
    background-color: #16161a;
    padding: 20px 10px ;
    border-radius: 12px;

}
.card:hover{
    background: linear-gradient(to top, #7f5af0, #5d23c9);
    box-shadow: 8px 10px 15px #7f5af0,-8px -10px 15px #7f5af0;
}

.card-footer{
    border: none;
    padding: 0;
    background-color: #16161a;
    width: 99%;
    margin: 0 auto;
}
.card-footer img{
    width: 25px;
}



#blog .row{
    width: 70%;
    margin:0 auto;
}
#teachers{
    margin-bottom: 60px;
}
#footer-top .container{
    width: 85%;
    margin: 0 auto;
}
#footer-top{
    background-color: #2d3236;
    padding-bottom: 45px;
    padding-top: 20px;
}
.footer-nav {
  float: left;
  margin-top: 100px;
}
.footer-nav ul{
    list-style-type: none;
    padding-left: 0;
}
.footer-nav ul li a{
    color: #fff;
}

.rounded-0 {
  margin-left: 450px;
  margin-top: 20px;
}

.font-weight-bold {
    color: #fffffe;
}

.text-success {
    color: #fffffe;
}

.video_2 {  
	overflow: hidden;
  max-width: 1200px;
  margin: 0 auto;
  display: block;
  text-align: center;
}
.video_2-row {  
	margin: 0 -10px 0 10px;
}
.video_2-col {
	float: left;
	width: 50%;
	margin-bottom: 20px;
}
.video_2-wrp {
	position: relative;
	padding-top: 56.25%;
	margin: 0 10px 0 10px;
	box-sizing: border-box;
}
.video_2-wrp iframe {
	width: 100%;
	height: 100%;
	display: block;
	position: absolute;
	margin: 0;
	top: 0;
	left: 0;
	border: none;
}

@media screen and (max-width:800px){
	.video-col {
		width: 100%;
	}
}

* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}
